@{
    ViewData["Title"] = "Home Page"; 
    var BRANCH_NAME_ENV = Environment.GetEnvironmentVariable("BRANCH_NAME");
}

<div class="text-center">
    <h1 class="display-4">Welcome to NAGP Branch :  <span style="color:crimson"> @BRANCH_NAME_ENV</span> </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
